%footer#footer.page-group
  .inner.container-fluid
    .row
      .col-sm-4.col-md-offset-8
        -# %ul.footer-list.footer-right
          - # %li You can add your
          - # %li custom footer links
          - # %li here

    = render '/virgo/common/analytics'

= render '/virgo/common/fb_api'
= render '/virgo/common/ouibounce_modal'
