%h3 Success

%p.info
  Your image uploaded successfully. A shortcode for the image has been injected
  in the body of your post.

.spacer
%button.pull-right{class: 'btn btn-default', data: {dismiss: 'modal'}} OK