.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/uploads
spec/dummy/app/views/layouts/virgo
spec/dummy/app/views/virgo
.DS_Store
dump.rdb
.sass-cache
.idea
*.gem
