.page-container.container
  .row
    .col-md-12
      %h4 500: Server Error
      %p
        We're sorry, but an error prevented us from processing your request. Please try again shortly.

      .spacer

      = link_to "Return Home", root_path, class: "btn btn-primary"
