= render '/authors/profile_long', author: @user

.container.posts-container.author-posts
  %hr
  .row
    .col-md-10.col-md-offset-1
      - @posts.each do |post|
        = render '/posts/post_short', post: post

  = paginate @posts
