<p>
Thanks for joining Out of Office Travel. We can't wait to 
grant you access to our exclusive company travel rates!
Please click the link below to confirm your email address.
</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), id: "confirmation-link"  %></p>