.page-container.container
  .row
    .col-md-12
      %h2 404: Not Found
      %p
        We're sorry, but the page you are looking for could not be found

      .spacer

      = link_to "Return Home", root_path, class: "btn btn-primary"
