- content_for :content do
  .row
    .col-xs-4.col-xs-offset-4.session-box
      %h4 Resend confirmation
      = simple_form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post } do |f|
        = f.input :email

        = f.button :submit, label: "Resend Confirmation Instructions", button_html: {data: {disable_with: "Loading..."}, class: "btn btn-inverse"}

      = render "users/shared/links"
