- cache @posts do
  - @posts.in_groups_of(3).each do |group|
    .row
      - group.each do |post|
        .col-md-4
          = render '/posts/post_thumb_box', post: post, classes: 'third-level'

.show-more-wrap.text-center
  = link_to "Load More", '#', data: {uri: more_posts_path(page: (page_param.to_i + 1))}, class: 'view-more-link block-link js-load-posts'
  -#= link_to "All Articles", latest_posts_path, class: 'view-more-link block-link'
