- content_for :site_settings_content do
  %h2 Changelog

  %table.table.newsletter-versions
    %thead
      %tr
        %th Newsletter Into Copy
        %th Date
    %tbody
      - if @versions.empty?
        %tr.empty
          %td{colspan: '2'}
            No revisions

      - @versions.each do |version|
        - if version.changeset.keys.include?("weekly_newsletter_intro_copy")
          - changes = version.changeset["weekly_newsletter_intro_copy"]
          - old_val = changes[0]

          - if old_val.present?
            %tr
              %td= old_val
              %td= version.created_at.to_s(:slashes)

  = paginate @versions
