- tag = local_assigns.has_key?(:tag) ? tag : @tag

#tag-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title Add Tag
      .modal-body
        %p
          = render 'form', tag: tag