.row
  .col-md-8.col-md-offset-2
    .box
      %h1 Success!
      %hr
      %p
        You've successfully installed VirgoCMS. Click the button below to
        go to the admin login page.

      .spacer.xs

      = link_to "Log In", new_user_session_path, class: "btn btn-success btn-lg"