- content_for :before_container do
  .top-section.text-center
    %h1 Virgo

    %p
      Virgo is a comprehensive team blogging tool
      for Ruby on Rails


.install-section
  %h2 Installation Guide

  .section
    %p.info
      %span.num 1)
      Add Virgo to your Gemfile

    %code.install.code-snippet
      gem 'virgo'

  .section
    %p.info
      %span.num 2)
      Run bundler

    %code.install.code-snippet
      $ bundle

  .section
    %p.info
      %span.num 3)
      Run the Virgo install generator

    %code.install.code-snippet
      $ bin/rails generate virgo:install

  .section
    %p.info
      %span.num 4)
      Migrate

    %code.install.code-snippet
      $ bin/rake db:migrate
